@use "../util/" as *;

.sr-only {
  clip-path: inset(50%);
  border: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  position: absolute;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
}

body {
  background-color: $white;

  footer,
  header {
    padding: 32px 20px;
  }
  main {
    text-align: center;
  }
  .banner {
    padding: 24px 20px;
  }
}
